* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: lightgray !important;
    font-family: 'Times New Roman', Times, serif;
}

.nav_2 {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    color: #fff;
}

.nav_2>ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav_2>ul>li {
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: goldenrod;
}

.nav_2>.userName {
    color: black;
    padding: 20px;

}

.nav_2>ul>li>a {
    text-decoration: none;
    color: black;
}

.card {
    border: 1px solid black;
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
    width: 20%;
    background-color: goldenrod !important;
    text-align: center;

}

.heading {
    font-size: 50px;
    letter-spacing: 5px;
    color: goldenrod;
}

form {

    text-align: center;
    margin: auto;
    margin-top: 5rem;

}

input {
    border: none;
    border-bottom: 3px solid goldenrod;
    outline: none;
    background-color: black;
    font-size: 40px;
    font-weight: bold;
    width: 25%;
    color: goldenrod;
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

button {
    padding: 7px;
    border: 3px solid black;
    font-size: large;
    background-color: goldenrod;
    margin-left: 1rem;
    border-radius: 30px;

}


span {
    font-size: 40px;
    color: goldenrod;
}